body {
	background-color: #eee;
	font-family: Verdana, Geneva, Arial, Sans-Serif;
	font-size: 13px;
	margin: 30px 0;
	padding: 0;
}

main,
footer {
	width: 1385px;
	margin: 0 auto;
}

article {
	margin-bottom: 30px;
}
article .listwrapper {
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 5px 0;
	overflow: auto;
}

footer {
	color: #CCC;
	font-style: italic;
	text-align: center;
}

ul {
	list-style-type: square;
	width: 200px;
	padding: 20px 0;
	margin: 0 55px 0 25px;
	display: block;
	float: left;
}

ul:nth-of-type(5),
ul:nth-of-type(10),
ul:nth-of-type(15),
ul:nth-of-type(20) {
	margin-right: 0;
}

ul li {
	margin-left: 20px;
	line-height: 1.3em;
	float: left;
	width: 30px;
}

ul li[disabled] {
	display: none;
}

a {
	color: #375174;
	text-decoration: none;
}

a:hover {
	color: #c00;
	text-decoration: underline;
}

header,
.ui-dialog-buttonset button {
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	outline: none;
}
header {
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-indent: 25px;
	outline: none;
}

.sandbox header {
	background-color: #54585A;
}

.development header,
.ui-dialog-buttonset button {
	background-color: #64772D;
}

.staging header {
	background-color: #00629B;
}

.production header,
.ui-dialog-buttonset button + button {
	background-color: #891A1A;
}

div {
	display: block;
	clear: both;
	float: none;
}

.logo {
	background-image: url(http://demandware.edgesuite.net/aagb_dev/on/demandware.static/Sites-NL-Site/-/nl_NL/v1403177304462/common/images/brandlogosprite2015.svg);
	background-repeat: no-repeat;
	background-size: 133.3px;
	height: 30px;
	line-height: 30px;
	color: #000;
	float: none;
	clear: both;
	margin: 0;
	font-size: 20px;
	text-align: left;
	text-indent: -999em;
}

.bc { background-position: 0 0; }
.jj { background-position: 0 5%; }
.sl { background-position: 0 10%; }
.vm { background-position: 0 15%; }
.on { background-position: 0 20%; }
.vl { background-position: 0 25%; }
.oc { background-position: 0 30%; }
.pi { background-position: 0 35%; }
.jr { background-position: 0 40%; }
.mm { background-position: 0 45%; }
.ni { background-position: 0 50%; }
.jl { background-position: 0 55%; }
.lp { background-position: 0 60%; }
.ys { background-position: 0 65%; }
.nm { background-position: 0 70%; }
.os { background-position: 0 75%; }
.of { background-position: 0 80%; }

/***** jQueryUI - Accordion styling *****/
.ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	min-height: 0; /* support: IE7 */
	border-radius: 10px 10px 0 0;
	font-size: 100%;
}

.ui-accordion-header-icon {
	background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_ffffff_256x240.png);
	position: absolute;
	left: .5em;
	top: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
}

.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }

.ui-corner-all {
	border-radius: 10px;
}

.ui-dialog {
	z-index: 20;
	background: white;
	padding: 0 10px 20px;
}

.ui-dialog-titlebar-close {
	position: absolute;
	top: 5px;
	right: 5px;
}

.ui-widget-overlay {
	background: #888;
	position: absolute;
	z-index: 19;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .50;
	filter: Alpha(Opacity=50);
}

.ui-dialog-buttonset {
	margin-top: 15px;
}

.ui-dialog-buttonset button {
	padding: 5px 10px;
	border-width: 1px;
}

.ui-dialog-buttonset button + button {
	margin-left: 10px;
}
